@import url('https://fonts.googleapis.com/css?family=Cambay|Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Cambay', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.7rem;
  .container {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: row-reverse;
    }
    .containerContent {
      flex: 1;
      flex-direction: column;
    }
  }
}

html {
  height: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
