@import '../../styles/utils';


.postListTemplate {
  padding: 1rem;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1rem;
  }
  a {
    text-align: center;
    button {
      &.fullWidth {
        text-align: center;
        width: 60%;
      }
    }
  }

  h2 {
    color: $lightBrown;
  }
  @media (max-width: 450px) {
    font-size: 0.5rem;
  }
  .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}