@import '../../styles/utils';

.ManagePost {
  border: 1px dotted hsl(0,0%,20%);
  border-radius: 6px;
  padding: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  & + & {
    margin-top: 1rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    svg {
      font-size: 1rem;
      cursor: pointer;
      margin-left: 0.5rem;
      color: $lightBrown;
    }
  }
  .right {
    display: flex;
    flex-direction: row-reverse;
  }
}

