@import '~open-color/open-color';
@import '~include-media/dist/include-media';

// color
$burgundy: #6c282f;
$lightBrown: #9a5762;
$lightBeige: #f5f4f2;
$lightBlue: #ccd5dc;
$black: #20292f;

// mixin
@mixin button() {
  border: none;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  outline: none;
  cursor: pointer;
}

.box {
  padding: 2rem;
  margin: 1rem;
  background: white;
  border: 0.1rem solid $burgundy;
  border-radius: 2px;
  color: $lightBlue;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
  @media (max-width: 320px) {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}