@import "../../styles/utils";

.post {
  border: 1px solid $burgundy;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0;
  padding-bottom: 0.3rem;
  color: $black;
  .offering {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: $burgundy;
    svg {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      position: relative;
      top: 0.3rem;
    }
    @media (max-width: 500px) {
      position: relative;
      bottom: 0.7rem;
    }
  }
}

.first {
  &.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .username {
      margin-right: 1rem;
      flex-direction: row;
      display: flex;
      svg {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1.5rem;
        background: $lightBeige;
        position: relative;
        bottom: 0.2rem;
      }
      .date {
        position: relative;
        top: 0.1rem;
      }
    }
    .button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      bottom: 0.6rem;
      left: 0.6rem;
      span {
        cursor: pointer;
        margin: 0.3rem;
      }
      svg {
        font-size: 1rem;
      }
      .buttons {
        position: relative;
        top: 0.3rem;
        margin-left: 0.1rem;
      }
      @media (max-width: 500px) {
        flex: 1;
      }
    }
  }
}

.notes {
  &.content {
    padding-left: 2rem;
  }
}
