@import '../../styles/utils';

.templateBlock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.boxTemplate {
  @media (min-width: 768px) {
    padding: 2rem;
    max-width: 70%;
    min-width: 70%;
  }
  @media (max-width: 767px) {
    padding: 1rem;
    max-width: 90%;
    min-width: 90%;
    height: 90%;
  }
}
.logo {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
}