@import '../../styles/utils';

.AuthFormTemplateBlock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Box {
  padding: 2rem;
  margin: 1rem;
  background: white;
  border: 0.1rem solid $burgundy;
  border-radius: 2px;
  color: $lightBlue;
}

.Logo {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: $burgundy;
}