@import '../../styles/utils';

.Button {
  @include button();

  &.white {
    color: $burgundy;
    background: white;
    border: 1px solid $burgundy;
    &:hover {
      background: $lightBeige;
    }
  }

  &.burgundy {
    color: $lightBeige;
    background: $burgundy;
    &:hover {
      background: $lightBrown;
    }
  }

  &.fullWidth {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.125rem;
  }

  &.small {
    font-size: 0.5rem;
    padding: 6px 6px;
    @media (max-width: 450px) {
      font-size: 0.3rem;
      padding: 2px 2px;
    }
  }

  &.check {
    position: relative;
    bottom: 0.5rem;
    flex: 1;
    display: flex;
    align-items: center;
  }
}