@import '../../styles/utils';

.notificationTemplate {
  position: fixed;
  z-index: 40;
  top: 3rem;
  right: 1rem;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  &.isClosed {
    display: none;
  }
}

.notificationBlock {
  width: 310px;
  background: $lightBeige;
  padding: 0.3rem;
  border-raidus: 4px;
  .notification {
    border: 1px dotted gray;
    padding: 0.1rem;
    text-align: center;
    & + & {
      border-bottom: 1px solid black;
    }
  }
};
